---
import Layout from '../layouts/Layout.astro'
import Header from '../components/home/header-home.astro'
import Button from '../components/button.astro'
import Album from '../components/home/album.astro'

import { CldUploadWidget } from 'astro-cloudinary'
---

<Layout title='SpookifyMe'>
  <Header />

  <main class='mb-20'>
    <CldUploadWidget
      id='upload-events'
      uploadPreset='scary-costumes'
      options={{
        sources: ['local'],
        multiple: false,
        maxFiles: 1
      }}>
      <Button>Upload</Button>
    </CldUploadWidget>
  </main>

  <section class='p-4 rounded-xl'>
    <Album />
  </section>
</Layout>

<script>
  import { navigate } from 'astro:transitions/client'

  const widget = document.querySelector('#upload-events')

  if (widget) {
    widget.addEventListener('clduploadwidget:success', ((
      e: CustomEvent<{ info: { public_id: string } }>
    ) => {
      const publicId = e.detail.info.public_id
      navigate(`/photo?id=${publicId}`)
    }) as EventListener)
  }
</script>
