---
import Layout from '../layouts/Layout.astro'
import { CldUploadWidget, CldImage } from 'astro-cloudinary'

import { getCollection } from 'astro:content'
const images = await getCollection('images')
---

<Layout title='SpookifyMe'>
  <header class='mb-28'>
    <h1 class='text-5xl'>SpookifyMe</h1>
  </header>

  <main>
    <CldUploadWidget
      id='upload-events'
      uploadPreset='scary-costumes'
      options={{
        sources: ['local'],
        multiple: false,
        maxFiles: 1
      }}>
      <button class='bg-gray-700 px-4 py-2 rounded-lg'>Upload</button>
    </CldUploadWidget>
  </main>

  <section>
    <ul>
      {
        images.map((image: any) => {
          return (
            <li>
              <a href={`/photo?id=${image.data.public_id}`}>
                <CldImage
                  src={image.data.public_id}
                  width={250}
                  height={250}
                  crop={{
                    type: 'fill',
                    source: true
                  }}
                />
              </a>
            </li>
          )
        })
      }
    </ul>
  </section>
</Layout>

<style>
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
    list-style: none;
  }
</style>

<script>
  import { navigate } from 'astro:transitions/client'

  const widget = document.querySelector('#upload-events')

  if (widget) {
    widget.addEventListener('clduploadwidget:success', ((
      e: CustomEvent<{ info: { public_id: string } }>
    ) => {
      const publicId = e.detail.info.public_id
      navigate(`/photo?id=${publicId}`)
    }) as EventListener)
  }
</script>
