---
import Layout from '../layouts/Layout.astro'
import { CldUploadWidget } from 'astro-cloudinary'
---

<Layout title='SpookifyMe'>
  <header>
    <h1 class='text-5xl'>SpookifyMe</h1>
  </header>

  <main class='mt-28'>
    <CldUploadWidget
      id='upload-events'
      uploadPreset='scary-costumes'
      options={{
        sources: ['local'],
        multiple: false,
        maxFiles: 1
      }}>
      <button class='bg-gray-700 px-4 py-2 rounded-lg'>Upload</button>
    </CldUploadWidget>
  </main>
</Layout>

<script>
  import { navigate } from 'astro:transitions/client'

  const widget = document.querySelector('#upload-events')

  if (widget) {
    widget.addEventListener('clduploadwidget:success', ((
      e: CustomEvent<{ info: { public_id: string } }>
    ) => {
      const publicId = e.detail.info.public_id
      navigate(`/photo?id=${publicId}`)
    }) as EventListener)
  }
</script>
