---
import { CldImage } from 'astro-cloudinary'
import { getCollection } from 'astro:content'

const images = await getCollection('images')
---

<ul class='grid grid-cols-1 sm:grid-cols-2 list-none place-items-center gap-8'>
  {
    images.map((image: any) => {
      return (
        <li class='hover:animate-pulse'>
          <a href={`/photo?id=${image.data.public_id}`}>
            <CldImage
              src={image.data.public_id}
              width={250}
              height={250}
              class={`rounded-lg`}
              crop={{
                type: 'fill',
                source: true
              }}
            />
          </a>
        </li>
      )
    })
  }
</ul>
